<tr class="disputed">
  <td><%= charge.customer %></td>
  <td><%= charge.amount %></td>
  <td><%= charge.updated_at.to_s(:db) %></td>

  <td><%= link_to 'Show', charge %></td>
  <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
  <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
